<% include header %>
<div class="frames-login">
    <div class="container">
        <div class="row">
            <div class="title">Đăng Nhập</div>
            <div class="col-5 login">
                <form action="" method="post">
                    <label for="">Email của bạn</label>
                        <div class="form-group">
                        <input type="email" name="email" class="form-control txtEmail" placeholder="Email của bạn" aria-describedby="helpId">
                        <small id="helpId" class="text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="">Mật khẩu</label>
                        <input type="password" name="password" class="form-control txtPassword" placeholder="Mật khẩu" aria-describedby="helpId">
                        <small id="helpId" class="text-muted"></small>
                    </div>
                    <button type="submit" class="btn btn-outline-success btn-block">Đăng Nhập</button>
                    <div class="forget-account">Quên tài khoản?</div>
                </form>
            </div>
            
        </div>
    </div>
</div>
