<% include header%>
    <main class="main">
        <section id="frames-left">
        <div class="remove-frames-left"><i class="fas fa-times"></i></div>
            <div class="frames-logo">
                <div class="logo" style="background-image: url('./images/logo1.png')" ></div>
                <h3 class="title-logo">VAN CUONG</h3>
            </div>
            <div class="list-group nav-ctg">
                <a href="#" class="list-group-item list-group-item-action active    ">
                    <span class="img-ctg"><i class="fas fa-home"></i></span>
                    <span class="a-content">Trang Chủ</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <span class="img-ctg"><i class="fas fa-home"></i></span>
                    <span class="a-content">Trang Chủ</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <span class="img-ctg"><i class="fas fa-home"></i></span>
                    <span class="a-content">Trang Chủ</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <span class="img-ctg"><i class="fas fa-home"></i></span>
                    <span class="a-content">Trang Chủ</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <span class="img-ctg"><i class="fas fa-home"></i></span>
                    <span class="a-content">Trang Chủ</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <div class="list-comment" >
                <div class="title-comment">Nhận Xét</div>
                <div class="list-comment-content">
                    <ul class="list-comment-ul nav">
                        <li class="active">
                            <div class="users"><i class="fas fa-users"></i> MasterTVC</div>
                            <div class="content"><p>Looking for git in: C:\Program Files (x86)\Git\cmd\git.exe </p></div>
                        </li>
                        <li>
                            <div class="users"><i class="fas fa-users"></i> Van Cuong</div>
                            <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p></div>
                        </li>
                        <li>
                            <div class="users"><i class="fas fa-users"></i> Thu Trang</div>
                            <div class="content"><p>Git installation not found.</p></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list-photo">
                <div class="title-photo">Hình Ảnh</div>
                <ul class="list-photo-ul nav">
                    <li style="background-image:url('./images/11.jpg') "
                    ></li>
                    <li style="background-image:url('./images/2.jpg') "></li>
                    <li style="background-image:url('./images/3.jpg') "></li>
                    <li style="background-image:url('./images/4.jpg') "></li>
                    <li style="background-image:url('./images/5.jpg') "></li>
                    <li style="background-image:url('./images/6.jpg') "></li>
                    <li style="background-image:url('./images/7.jpg') "></li>
                    <li style="background-image:url('./images/8.jpg') "></li>
                    <li style="background-image:url('./images/9.jpg') "></li>
                    <li style="background-image:url('./images/10.jpg') "></li>
                    <li style="background-image:url('./images/5.jpg') "></li>
                    <li style="background-image:url('./images/5.jpg') "></li>
                </ul>
            </div>
        </section>
        <section id="frames-right">
            <div id="frames-content">
                <div class="tab-first">
                    <div class="tab-menu">
                        <div class="icon-toogle-menu"><i class="fas fa-bars"></i></div>
                        <div class="tab-tittle">BLOG</div>
                        <div class="time-info">08:24:39</div>
                    </div>
                </div>
                <!-- tab-first -->
                <div class="tab-content news-detail">
                    <div class="content-main ">
                        <div class="news-title">
                                MU & cuộc tình cay nghiệt: Bữa tối bí mật của Sir Alex và Pep Guardiola
                        </div>
                        <div class="news-time">
                                Thứ Ba, ngày 01/05/2018 13:03 PM (GMT+7)
                        </div>
                        <div class="news-ctg">
                            <span class="ctg-name badge badge-dark">Danh Mục:</span> <span class="ctg-text">Premier League 2017-2018, Sir Alex Ferguson - Ông già gân, Pep Guardiola</span>
                        </div>
                        <div class="news-evaluate mt-1">
                            <div class="title">Đánh giá:</div>
                            <ul class="nav float-left">
                                <li class="active"><i class="far fa-star"></i></li>
                                <li class="active"><i class="far fa-star"></i></li>
                                <li class="active"><i class="far fa-star"></i></li>
                                <li class="active"><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                            <div class="text-evaluate"></div>
                        </div>
                        <div class="news-content mt-2">
                            lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod similique ut illum enim officia libero facilis earum, facere, ducimus dicta suscipit adipisci, nemo rem corrupti porro. Tenetur, quod at?
                        </div>
                    </div>
                    <!-- content-main -->
                    <div class="info-marginalizanation">
                        <div class="frames-search mt-3">
                            <div class="title">
                                <div>Tìm Kiếm</div>
                            </div>
                            <form class="">
                                <input type="text" class="form-control input-Search" name="txtSearch" id="" placeholder="Tìm kiếm">
                                <button type="submit" class="btn btn-danger btn-block btnSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="frames-note mt-3">
                            <div class="title">
                                <div>Từ khóa gợi ý</div>
                            </div>
                            <ul class="nav">
                                <li class="badge badge-dark">
                                    <a class="nav-link " href="#">Active link</a>
                                </li>
                                <li class="badge badge-dark">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="badge badge-dark">
                                    <a class="nav-link " href="#">Disabled link</a>
                                </li>
                                <li class="badge badge-dark">
                                    <a class="nav-link " href="#">Disabled link</a>
                                </li>
                                <li class="badge badge-dark">
                                    <a class="nav-link " href="#">Disabled link</a>
                                </li>
                                <li class="badge badge-dark">
                                    <a class="nav-link " href="#">Disabled link</a>
                                </li>
                            </ul>
                        </div>
                        <div class="frames-category mt-3">
                            <div class="title">
                                <div>Danh Mục</div>
                            </div>
                            <ul class="nav ">
                                <li class="nav-item">
                                    <a class="nav-link " href="#">Active link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#">Disabled link</a>
                                </li>
                            </ul>
                        </div>
                        <div class="fames-register-email mt-3">
                            <div class="frames-input">
                                <div class="title">
                                    <div>Đăng ký</div>
                                </div>
                                <form action="" method="post" class="form-register">
                                    <div class="form-group">
                                        <input type="email" class="form-control input-Email mt-3" name="txtEmail"  placeholder="Địa Chỉ Email">
                                        <small id="emailHelpId" class="form-text text-muted check"></small>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input type="text" class="form-control input-Name" name="txtName"  placeholder="Họ & Tên">
                                        <small id="emailHelpId" class="form-text text-muted check"></small>
                                    </div>
                                    <button type="submit" class="btn btn-outline-success btn-block btnRegister mt-3">Đăng Ký</button>
                                </form>
                                <p class="text-note">Đăng ký ngay để nhận được những bài đăng mới nhất.</p>
                            </div>
                        </div>
                    </div>
                    <!-- info-marginalizanation -->
                </div>
                <!-- tab-content -->
            </div>
            <!-- frames-content -->
        </section>
        <!-- frames-right -->
    </main>
    <% include footer%>